@using Microsoft.AspNet.Identity
@model MVCBlog.Models.IndexViewModel
@{
    ViewBag.Title = "Профил";
}

<h2>Профил</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>Снимка на профила</dt>
        
        <dd>
            @if (User.Identity.GetUserName() != null)
            {
                var imgUrl = Url.Content("~/Content/images/profile/" + User.Identity.GetUserName() + ".png") + "?time=" + DateTime.Now.ToString();
                <div class="upimage">
                    <div class="accimg">
                        <img src="@imgUrl" height="250" width="250" />
                    </div>
                    <div class="mngimg">
                        @using (Html.BeginForm("UploadPhoto", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="btn btn-default browseing">
                                <input type="file" name="file" id="files" onchange="this.form.submit()" />
                            </div>
                        }
                    </div>
                </div>
            }
        </dd>
        <dt>Парола</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Смени паролата", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Създай", "SetPassword")
            }
            ]
        </dd>
        
    </dl>
</div>
