body {
    background-image: url(images/background4.jpg);
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

a.actionlink-class { color: #0000cd } 

span.comment-left {
    display: inline-block;
    margin-right: 900px;
}

span.add-comment {
    display: inline-block;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.post>h2, .post>div {
    background: #EEE;
    padding: 10px;
    margin: 0;
}

.post>h2 {
    margin-top: 15px;
}



#footer {
   position: relative;
   right: 0;
   bottom: 0;
   left: 0;
   padding: 1rem;
   text-align: center;
}

#detail-title {
    text-align: center;

}

.alert {
    margin-top: 10px;
    
}

a {
    color: #00008b;
}








