
@{
    ViewBag.Title = "Добави картинка";
}

<h2>Добави картинка към галерията</h2>

@using (Html.BeginForm("AddImage", "Slider", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend></legend>

        <div class="editor-label"><h4>Моля изберете картинка</h4></div>
       

    <div class="editor-field">
        <input type="file" id="ImagePath" name="ImagePath"/>
    </div>
    <p style="padding-top: 10px">
            <button type="submit" class="btn btn-default btn-xs">
                <img src="~/Content/images/Save.png" style="width: 87px; height: 28px; padding: 4px" alt="submit" />
            </button>
        </p>
    </fieldset>
}
