
@{
    ViewBag.Title = "DeleteImages";
}

<h2>Изтрий картинка</h2>
<hr/>
<h4>Mоля, изберете картинката, която желаете да изтриете</h4>

@using (Html.BeginForm("DeleteImages", "Slider", FormMethod.Post))
{
    <table style="background-color: azure" border="1">
        <thead style="background-color: skyblue">
        <tr>
            <th>Избери</th>
            <th>Картинка</th>
        </tr>
        </thead>

        <tbody>
        @Html.EditorForModel()
        </tbody>

    </table>
    <hr/>
    <h5>Сигурни ли сте, че искате да изтриете тази картинка?</h5>
    <div class="form-actions no-color" style="padding-top: 10px">
        @Html.ActionLink("Към галерията", "Index", "Slider")
        <button type="submit" class="btn btn-default btn-xs">
            <img src="~/Content/images/Delete6.png" style="width: 87px; height: 28px; padding: 4px" alt="submit"/>
        </button>
    </div>
@*    <input type="submit" value="Delete Selected Images" />*@
}

@*<p>@Html.ActionLink("Slider Home", "Index", "Slider")</p>*@